html {
    background-color: #000
}

body {
    margin: auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #eee;
}

body a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

nav {
    background-color: #444;
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
    font: bold 24px sans-serif
}

h1,
h2,
h3 {
    line-height: 1.2
}

table {
    border-collapse: collapse;
    background-color: #555;
}

table th,
table td {
    padding: 6px 13px;
    border: 1px solid #eee;
}

th {
    background-color: #888;
}

table tr:nth-child(2n) {
    background-color: #888;
}
